body {
  font-family: "Arial";
  background-color: #f6f8fa;
  color: #24292f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
video {
  position: absolute;
  z-index:-1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 50%;
}

.header__title {
  margin: 10px 0 10px 0;
  color: #000000;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Arial";
  text-align: center;
}

.header__subtitle {
  color: #000000;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}

.links {
  width: 350px;
  margin-bottom: 40px;
  color: #000000
}

.links__header {
  font-family: "Arial";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 5px 0;
}

.links__container {
  background-color: #ffffff;
  list-style-type: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
  width: 350  0 px;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: #000000;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #0969da;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

.kauvec_adelon {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #e9dfdf;
  background: #16a90c;
  padding: 1.2rem 2.6rem;
  border-radius: 0.2rem;
  transition: opacity .3s;
}

.kauvec_adelon:hover {
  cursor: pointer;
  background: #0b460a;
}

.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #fffdd0;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 5px;

  font-size: 14px;
  line-height: 1.4;

  color: #0969da;
  text-decoration: none;
}

.button-link:hover {
  background-color: #0969da;
  color: #fff;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
  .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
  }
}
